/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: rgb(28, 20, 73);  
    
    color: #ffffff;
    font-family: Arial;
    text-decoration:none;
    font-style:none;

    background-image:url(https://i2.wp.com/www.nerdsandbeyond.com/wp-content/uploads/2018/07/Season_14_Promotional_Poster.jpg?resize=768%2C576&ssl=1)
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:fixed;
    
}

h1 {
    color:white;
}


main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align:justify;
}


header {
    color: skyblue;
    text-align: left;
    height:60px;
}


footer {
    text-align: center;
    padding-bottom: 10px;
    clear:both;
}

p {
    font-style:none;
}


/* specifieke stijlen */

img.zweefLinks {
    float: right;
    margin: 15px;
}

.spnimg {
    margin:10px;
    float:right;
    width:250px;
}

.spnimg2 {
    float:right;
    margin-left:10px;
    margin-bottom:10px;
    width:250px;

}

.spnimgalt {
    float:right;
    margin:20px;
    width:45%;
    text-align:center;
    margin-top:10px;
    margin-bottom:5px;
    clear:left;
    
    
}

.spnimgalt img {
    display:block;
    margin:0 auto;
}

.spnimg5 {
    float:right;
    display:block;
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#info {
    
    margin:5px;
    width:55%;
    display:block;
    float:left;
    padding-left:20px;
    padding-right:10px;
    padding-bottom:10px;
    
    
}

#about {
    width:55%;
    border-top:dotted;
    border-color:white;
}

#headerabout {
    border-bottom:dotted;
    border-bottom-color: white;
}

#news {
    
    margin-top:20px;
    width:55%;
    margin:5px;
    display:block;
    float:left;
    padding-left:20px;
    padding-right:10px;
    padding-bottom:10px;
}

#episode {
    font-style:italic;
    
}

ul {
    border:dotted;
    padding-top:5px;
    padding-bottom:5px;
    width:30%;
}

.spnimgquote {
    
    
}



#spnquote {
    
    float:left;
    border:solid;
    background:rgb(14, 19, 48);
    width:60%;
    padding:7px;
    border-radius:10px;
    
}

#quotations {
    padding:10px;
    padding-top:5px;
}

.clear {
    position:relative;
    
    
}

#list {
    border:none;
    width:60%;
}

/* navigatiebalk */

h1 {
    color: rgb(255, 255, 255);
}

.navbar {
    overflow:hidden;
    background-color: #090d46;
    font-family: Arial;
}

.navbar a {
    float:left;
    font-size:16px;
    color:white;
    text-align:center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color:black;
}

a.active {
    background-color:rgb(31,41,97)
}



.dropdown .dropbtn {
    background-color: #090d46;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border:none;
    font-family:inherit;
    margin:0;
    font-size:16px
}

.dropdown {
    float:left;
    overflow:hidden;

}

.dropdown-content {
    display:none;
    position:absolute;
    z-index: 1;
    background-color:#090d46;
    box-shadow:
}

.dropdown-content a {
    color:white;
    display:block;
    float:none;
    padding: 12px 16px;
    text-align:left;
}

.dropdown-content a:hover {
    background-color:black;
}

.dropdown:hover .dropdown-content {
    display:block;

}

p {
    font-style:normal;
}

a {
    font-style:normal;
}
