/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: rgb(28, 20, 73);  
    
    color: #ffffff;
    font-family: Arial;
}

h1 {
    color:white;
}


main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align:justify;
}


header {
    color: skyblue;
    text-align: left;
    height:60px;
}


footer {
    text-align: center;
    padding-bottom: 10px;
}


/* specifieke stijlen */

img.zweefLinks {
    float: right;
    margin: 15px;
}

.spnimg {
    margin:10px;
    float:right;
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#info {
    background-color:rgb(0, 8, 15);
    margin:5px;
    width:55%;
    display:block;
    float:left;
    padding-left:20px;
    padding-right:10px;
    padding-bottom:10px;
    
    
}

#about {
    width:55%;
    border-top:dotted;
    border-color:white;
}

#headerabout {
    border-bottom:dotted;
    border-bottom-color: white;
}

#news {
    background-color: rgb(1, 8, 15);
    margin-top:20px;
    width:55%;
    margin:5px;
    display:block;
    float:left;
    padding-left:20px;
    padding-right:10px;
    padding-bottom:10px;
}


/* navigatiebalk */

h1 {
    color: rgb(255, 255, 255);
}

.navbar {
    overflow:hidden;
    background-color: #090d46;
    font-family: Arial;
}

.navbar a {
    float:left;
    font-size:16px;
    color:white;
    text-align:center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color:black;
}

a.active {
    background-color:rgb(31,41,97)
}



.dropdown .dropbtn {
    background-color: #090d46;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border:none;
    font-family:inherit;
    margin:0;
    font-size:16px
}

.dropdown {
    float:left;
    overflow:hidden;

}

.dropdown-content {
    display:none;
    position:absolute;
    z-index: 1;
    background-color:#090d46;
    box-shadow:
}

.dropdown-content a {
    color:white;
    display:block;
    float:none;
    padding: 12px 16px;
    text-align:left;
}

.dropdown-content a:hover {
    background-color:black;
}

.dropdown:hover .dropdown-content {
    display:block;

}


