/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: rgb(11, 4, 48);  
    
    color: #ffffff;
    font-family: Arial;
}

h1 {
    color:white;
}


main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: justify;
}


header {
    color: skyblue;
    text-align: left;
    height:60px;
}


footer {
    text-align: center;
    padding-bottom: 10px;
}


/* specifieke stijlen */

img.zweefLinks {
    float: right;
    margin-left: 15px;
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.info {
    background-color:rgb(0, 8, 15);
    margin:20px;
    
}

#about {
    border-top:dotted;
    border-top-color:white;
    padding:10px;
    
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #090d46;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #000000;
}

nav li a.active {
    background-color: rgb(31, 41, 97);
}

h1 {
    color: rgb(255, 255, 255);
}

.navbar {
    overflow:hidden;
    background-color: #090d46;
    font-family: Arial;
}

.navbar a {
    float:left;
    font-size:16px;
    color:white;
    text-align:center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown .dropbtn {
    background-color: #090d46;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border:none;
    font-family:inherit;
    margin:0;
    font-size:16px
}

.dropdown {
    float:left;
    overflow:hidden;

}

.dropdown-content {
    display:none;
    position:absolute;
    z-index: 1;
    background-color:#090d46;
    box-shadow:
}

.dropdown-content a {
    color:white;
    display:block;
    float:none;
    padding: 12px 16px;
    text-align:center;
}

.dropdown-content a:hover {
    background-color:black;
}

.dropdown:hover .dropdown-content {
    display:block;

}


